name: release

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

concurrency:
  group: release

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        image:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.image }}
    steps:
      - id: init
        name: Initialize
        uses: spotdemo4/nix-init@b3297f8312873ecb1f56efc86777c7a164c16e70 # v1.25.0
        with:
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          fetch_depth: 0
          shell: release

      - name: Run nix-release
        run: nix-flake-release
        env:
          GITHUB_TOKEN: ${{ steps.init.outputs.token }}
          REGISTRY: ghcr.io
          REGISTRY_USERNAME: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
